doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    link(href='/bulma.css', rel='stylesheet', type='text/css')

    title Basecamp clone

  body
    section.hero.is-success
      .hero-body
        .container
          block content
