extends ../layout

block header
  h1.title
    | Welcome to the Clamp
  h2.subtitle
    | A basecamp clone.

block content
  ul
    each project in projects
      li
        h3.title #{project.name}
        ul
          each todo in project.todos
            li
              | #{todo.content}, 
              em #{todo.done ? 'done' : 'undone'}
          else
            li No todo
    else
      li No user
